body{
  background:rgb(46, 46, 46);
  font-family: sans-serif;  
}
.dashboard{
  width:80%;
  margin: 70px auto;
  padding:2rem;
  background-color: white;
  min-height: 80vh;
}
.row{
  display: flex;
  justify-content: space-between;
}
.list{
  display: flex;
  flex-wrap: wrap;
  gap:50px;
}
.list div{
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  padding:10px;
}
.list img{
  display: block;
  margin-top:30px;
  width: 40px;
  height: 40px;
}